.github/
eslint.config.js
bun.lockb
**/*.spec.ts
lib/gherkin.ts
**/*.schema.json
**/*.schema.yml
tsconfig.json
scratch/
coverage/
stable/json-schema-test-suite/
annotations/tests
bundle/tests
bundle/snapshots
bundle/test-utils.*
bundle/generate-snapshots.js
bundle/README.md
lib/json-tests
